#dailynotes

[[{{yesterday_note_name}}| << Yesterday]] | [[{{tomorrow_note_name}}|Tomorrow >> ]]

![image](https://embed.filekitcdn.com/e/7gb4aVSzCgy3BdETWHXsWz/4Ye7f3gwNYcqeMWC3scUU2)

{% if 'quote' is defined and 'quote'|length %}
> {{quote[0]}}
<cite>{{quote[1]}}</cite>
{% else %}
<%tp.web.daily_quote()%>
{% endif %}

## Tasks
#todo
{%- for task in tasks %}
{{task}}
{%-endfor%}

## Communication Log


## Work Log


## 0000 Meeting
- Tags:
- Meeting Link: 
- Attendees:
- Tasks:
- Notes:

### What did I learn?

### What am I working on?

### What am I struggling with?

#### Is there help I can get from others?

